ENVIRONMENT=dev
HOST=0.0.0.0
PORT=8007
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_SCHEMA=
TEMP_FILES=temp_files
FILE_EXPIRATION_TIME_DELTA=3
AUTH0_DOMAIN= 
API_IDENTIFIER=  
AUTH0_CLIENT_ID=  
AUTH0_CLIENT_SECRET=  
ALGORITHM=
LLM_TEMPERATURE=0.0
LLM_TOP_P=0.1
LLM_IDENTIFY_MODEL=anthropic.claude-3-5-sonnet-20240620-v1:0
LLM_SQL_MODEL=anthropic.claude-3-5-sonnet-20240620-v1:0
LLM_RECOGNIZE_MODEL=anthropic.claude-3-5-sonnet-20240620-v1:0
LLM_FIX_MODEL=anthropic.claude-3-5-sonnet-20240620-v1:0
LLM_TRANSLATE_MODEL=anthropic.claude-3-5-sonnet-20240620-v1:0
LLM_SQL_GRAPH_MODEL=anthropic.claude-3-sonnet-202402
LLM_GRAPH_GEN_MODEL=anthropic.claude-3-sonnet-202402