fastapi==0.111.0
uvicorn==0.30.1
boto3==1.34.138
pandas==2.2.2
psycopg2==2.9.9
requests==2.32.3
openpyxl==3.1.5
pydantic-settings==2.4.0
langchain==0.2.15
langchain-community==0.2.15
langchain-core==0.2.37
langchain-aws==0.1.17
faiss-cpu==1.8.0.post1
SQLAlchemy==2.0.32
PyMySQL==1.1.1
tiktoken==0.7.0
sqlparse==0.5.1
fastapi-utilities==0.2.0
